# Ignore virtual environments
.venv/

# Ignore Python cache
__pycache__/

# Ignore VSCode settings (nếu có)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .env file
.env

data/
devcontainer/
models/
vectordb/
test/
*.log
src/app.py


